/* Greetz Page Only */

.biossocial,
.biossocial a,
.acktitle {
  color: #0d827c;
}

.biossocial a {
  font-family: monospace;
}

[data-bs-theme="dark"] .biossocial,
[data-bs-theme="dark"] .biossocial a,
[data-bs-theme="dark"] .acktitle {
  color: #3fd0c9;
}
