<!-- Image and text -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
 <div class="container">
  <div class="row flex-fill">
   <div class="col-md-10 offset-md-1 d-flex align-items-center justify-content-between flex-wrap">

  <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto align-items-lg-center">
      {% for link in site.navbar-links %}
        {% if link.sublinks %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
              {% for childlink in link.sublinks %}
                {% if childlink.disabled %}
                  <a class="dropdown-item disabled" href="{{ childlink.url | relative_url }}">{{ childlink.title }}</a>
                {% else %}
                  <a class="dropdown-item{% if page.url contains childlink.url %} active{% endif %}" href="{{ childlink.url | relative_url }}">{{ childlink.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </li>
          {% elsif page.url contains link.url %}
            <li class="nav-item"><a class="nav-link active" href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
          {% elsif link.disabled == "yes" %}
            <li class="nav-item"><a class="nav-link disabled" href="{{ link.url | relative_url }}" tabindex="-1" aria-disabled="true">{{ link.title }}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="nav-item">
        <button class="btn nav-link theme-toggle" type="button" aria-label="Toggle dark mode" onclick="lpToggleTheme()"><i class="fa-solid fa-moon theme-icon-dark"></i><i class="fa-solid fa-sun theme-icon-light"></i></button>
      </li>
    </ul>
  </div>

   </div>
  </div>
 </div>
</nav>